%div.like-link{id: "like-link-#{rule.id}"}
  - if current_user.likes.find_by(rule_id: rule.id)
    = link_to rule_like_path(rule.id, current_user.likes.find_by(rule_id: rule.id)), method: :delete, remote: true do
      %i.fas.fa-heart
        = rule.likes.count.to_s
  - else
    = link_to rule_likes_path(rule.id), method: :post, remote: true do
      %i.far.fa-heart
        = rule.likes.count.to_s
