.container-fluid
  %main.container.contents
    .parent
      - @rules.each do |rule|
        .col-md-6
          .card
            %img.card-img{:alt => "Card image", :src => "https://images.pexels.com/photos/1007025/pexels-photo-1007025.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"}/
            -# https://images.pexels.com/photos/1030327/pexels-photo-1030327.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260
            .card-img-overlay
              .card_header
                = simple_format(rule.name)
              .card_content
                = simple_format(rule.rule1)
                = simple_format(rule.rule2)
                = simple_format(rule.rule3)
                = simple_format(rule.rule4)
                = simple_format(rule.rule5)
                = simple_format(rule.rule6)
                = simple_format(rule.rule7)
              .card_footer
                .card_footer__likes
                  = render partial: "likes/like", locals: { rule: rule, like: @like }
                .card_footer__edit
                  = link_to "編集","/rules/#{rule.id}/edit", method: :get
                  = link_to "削除","/rules/#{rule.id}", method: :delete
  = paginate(@rules)
