.container-fluid
  %main.container.contents
    .parent
      - @rules.each do |rule|
        .col-md-6
          .card
            %img.card-img{:alt => "Card image", :src => "https://images.pexels.com/photos/1007025/pexels-photo-1007025.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"}/
            .card-img-overlay
              .card_header
                = simple_format(rule.name)
              .card_content
                = simple_format(rule.rule1)
                = simple_format(rule.rule2)
                = simple_format(rule.rule3)
                = simple_format(rule.rule4)
                = simple_format(rule.rule5)
                = simple_format(rule.rule6)
                = simple_format(rule.rule7)
                = render partial: "likes/like", locals: { rule: rule, like: @like }

  = paginate(@rules)
