!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SevenRules
    = csrf_meta_tags
    = csp_meta_tag
    %link{:crossorigin => "anonymous", :href => "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", :integrity => "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", :rel => "stylesheet"}/
    %link{:href => "https://use.fontawesome.com/releases/v5.6.1/css/all.css", :rel => "stylesheet"}/
    %script{:crossorigin => "anonymous", :integrity => "sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", :src => "https://code.jquery.com/jquery-3.3.1.slim.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1", :src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", :src => "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'layouts/notifications'

    %header
    
      - if user_signed_in?
        %nav.navbar.navbar-expand-md.navbar-light.bg-light
          %a.navbar-brand{:href => "/"} Seven rules
          %button.navbar-toggler{"aria-controls" => "bs-navi", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#bs-navi", "data-toggle" => "collapse", :type => "button"}
            %span.navbar-toggler-icon
          #bs-navi.collapse.navbar-collapse
            %ul.navbar-nav
              %li.nav-item            
                -# %a.nav-link{:href => "/"} ホーム
              = link_to "編集", edit_user_registration_path, class: 'nav-link'
              = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link'
              = link_to current_user.nickname, user_path(current_user),class: 'nav-link'

      - else
        %nav.navbar.navbar-expand-md.navbar-light.bg-light
          %a.navbar-brand{:href => "/"} Seven rules
          %button.navbar-toggler{"aria-controls" => "bs-navi", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#bs-navi", "data-toggle" => "collapse", :type => "button"}
            %span.navbar-toggler-icon
          #bs-navi.collapse.navbar-collapse
            %ul.navbar-nav
              %li.nav-item            
                -# %a.nav-link{:href => "/"} ホーム
              = link_to "ログイン", new_user_session_path,class: 'nav-link'
              = link_to "新規登録", new_user_registration_path, class: 'nav-link'

    = yield
